.contato {
  background: #f3e9dd;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}
.contato__imagem {
  width: 50px;
}
.contato__caixa {
  display: flex;
  justify-content: space-evenly;
}
.contato__descricao {
  color: #464646;
  text-align: center;
}
