.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.subtitulo {
  font-size: 32px;
  text-align: center;
  color: #464646;
  padding-top: 1.5rem;
}
.skills__itens {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
}
.skills__item {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f3e9dd;
  min-height: 120px;
  align-items: center;
  padding: 2%;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 5%;
  border: 2px solid #9e7e83;
  list-style: none;
}
.skills__descricao {
  padding: 10px 0 0 0;
  color: #464646;
  font-weight: bold;
}
.skills__imagem {
  width: 50px;
  height: 50px;
}

.fonte {
  font-size: 0.3rem;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  .skills__item {
    width: 140px;
    margin: 1%;
  }
}
